<div style="width: 40vw">
  <h2 mat-dialog-title>Se connecter</h2>
  <mat-dialog-content>
    <form [formGroup]="loginFormGroup">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          type="email"
          matInput
          placeholder="Ex. pat@example.com"
        />
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Mot de passe</mat-label>
        <input formControlName="password" type="password" matInput />
      </mat-form-field>
      <mat-error *ngIf="loginResponse && loginResponse.error">{{
        loginResponse.message
      }}</mat-error>
      <button class="float-start" mat-button mat-dialog-close>Annuler</button>
      <button
        (click)="seConnecter()"
        class="float-end"
        mat-button
        [disabled]="loginFormGroup.invalid"
      >
        Se connecter
      </button>
    </form>
  </mat-dialog-content>
</div>
